<footer class="footer">
    <div class="container">
        <div class="col-md-12">
            <p>网址推荐：
                <a href="/" class="a-text a-text-hover">中国农业信息网</a>
                <a href="http://nyncj.suizhou.gov.cn/" class="a-text a-text-hover">随州市农业厅</a>
                网购推荐：
                <a href="https://www.taobao.com" class="a-text a-text-hover">淘宝网</a></p>
        </div>
        <div class="col-md-12">
            <p>版权所有：农产品信息网 Copyright © 2008-2018 www.nongnet.com All Rights Reserved</p>
            <p>浙ICP备15008569号 本网所有信息未经书面同意，不得转载</p>
        </div>
    </div>
</footer>
</body>
</html>
