<header>
    <div class="top-bar">
        <div class="container">
            <div class="col-lg-12 clear_both">
        <span class="pull-left">
            <a href="">会员登陆</a>
            <a href="">注册会员</a>
        </span>
                <span class="pull-right">
            <a href="">收藏本站</a>
        </span>
            </div>
        </div>
    </div>
    <div>
        <div class="container search-bar">
            <div class="col-md-3 col-sm-4">
                <a href=""><img src="http://www.nongnet.com/images/logo.gif" alt=""></a>
            </div>
            <div class="col-md-5 col-sm-5 search-bar-input">
                <div class="input-group">
                    <div class="input-control search-box  has-icon-right search-example"
                         id="searchboxExample">
                        <input id="inputSearchExample3" type="search" class="form-control search-input"
                               placeholder="搜索">
                    </div>
                    <span class="input-group-btn">
                    <button class="btn btn-green" type="button">搜索</button>
                  </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-3 search-bar-text">
                <a href="">买卖，信得过的平台！</a>
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <div class="container">
            <div class="col-md-12">
                <ul class="nav-bar-box">
                    <li class="active"><a href="">首页</a></li>
                    <li class=""><a href="">采购信息</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
