<div class="clear_both card-title">
    <span class="pull-left card-o-title a-text-hover">近期热门信息</span>
    <a class="pull-right card-o-title a-text-hover" href="">更多<i class="icon icon-angle-right"></i></a>
</div>
<div>
    <ul class="m-list">
        <li><a href="" class="a-text a-text-hover">供应香蕉,缅甸欧亚国际</a></li>
        <li><a href="" class="a-text a-text-hover">供应香蕉,缅甸欧亚国际</a></li>
        <li><a href="" class="a-text a-text-hover">供应香蕉,缅甸欧亚国际</a></li>
        <li><a href="" class="a-text a-text-hover">供应香蕉,缅甸欧亚国际</a></li>
        <li><a href="" class="a-text a-text-hover">供应香蕉,缅甸欧亚国际</a></li>
        <li><a href="" class="a-text a-text-hover">供应香蕉,缅甸欧亚国际</a></li>
        <li><a href="" class="a-text a-text-hover">供应香蕉,缅甸欧亚国际</a></li>
    </ul>
</div>