{% load static %}
{% include "home/base_header.html" %}
<link rel="stylesheet" href="{% static '/css/common.css' %}">
<link rel="stylesheet" href="{% static '/css/body.css' %}">
<link rel="stylesheet" href="{% static '/css/product.css' %}">
<link rel="stylesheet" href="{% static '/css/page.css' %}">
</head>
<body>
{% include "home/base_nav.html" %}
<div class="">
    <div class="container">
        <div class="col-md-8">
            <div>
                <div class="nav-title clear_both">
                    {% for item in titleNav %}
                        <a class="a-text a-text-hover" href="{{ item.link }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
                <div class="clear_both card-title">

                    <h3 class="pull-left">
                        {{ this }}交易信息
                    </h3>

                </div>
                <div class="card-box clear_both list-nav-">
                    <div class="col-xs-12">
                        <div class="link-header"><strong>产品：</strong></div>
                        <div class="link-body">
                            {% for item in child %}
                                <a class="link-body-a a-text a-text-hover {{ item.active }}"
                                   href="{{ item.link }}">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if threeAll|length > 1 %}
                    <div class="card-box clear_both list-nav-">
                        <div class="col-xs-12">
                            <div class="link-header"><strong>品种：</strong></div>
                            <div class="link-body">
                                {% for item in threeAll %}
                                    <a class="link-body-a a-text a-text-hover {{ item.active }}"
                                       href="{{ item.link }}">{{ item.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                {% endif %}
                <div class="card-box clear_both list-nav-">
                    <div class="col-xs-12">
                        <div class="link-header"><strong>产地：</strong></div>
                        <div class="link-body">
                            {% for item in province %}
                                <a class="link-body-a a-text a-text-hover {{ item.active }}"
                                   href="{{ item.link }}">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if city|length > 1 %}
                    <div class="card-box clear_both list-nav-">
                        <div class="col-xs-12">
                            <div class="link-header"><strong>市区：</strong></div>
                            <div class="link-body">
                                {% for item in city %}
                                    <a class="link-body-a a-text a-text-hover {{ item.active }}"
                                       href="{{ item.link }}">{{ item.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                {% endif %}
                {% if county|length > 1 %}
                    <div class="card-box clear_both list-nav-">
                        <div class="col-xs-12">
                            <div class="link-header"><strong>镇区：</strong></div>
                            <div class="link-body">
                                {% for item in county %}
                                    <a class="link-body-a a-text a-text-hover {{ item.active }}"
                                       href="{{ item.link }}">{{ item.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                {% endif %}
                <div class="card-box clear_both list-nav-" style="border-bottom: 1px solid #ddd !important;">
                    <div class="col-xs-12">
                        <div class="link-header"><strong>供应：</strong></div>
                        <div class="link-body">
                            <a class="link-body-a a-text a-text-hover" href="#">全部</a>
                            <a class="link-body-a a-text a-text-hover" href="#">供应</a>
                            <a class="link-body-a a-text a-text-hover" href="#">求购</a>
                        </div>
                    </div>
                </div>
                <div class="clear_both msg-item-box">
                    {% for item in list.page_list %}
                        <div class="col-xs-3 msg-item-body">
                            <div class="msg-item-border">
                                <a class="msg-item-img" href="/productDetail/{{ item.id }}" target="_blank">
                                    <img src="{{ item.m_photo.0 }}"
                                         alt="">
                                </a>
                                <a class="msg-item-type" href="/productDetail/{{ item.id }}" target="_blank">
                                    {% if item.type == '1' %}
                                        [供应]
                                    {% elif item.type == '2' %}
                                        [需求]
                                    {% endif %}
                                </a>
                                <a class="msg-item-title" href="/productDetail/{{ item.id }}" target="_blank">
                                    {{ item.m_title }}
                                </a>
                                <div class="msg-item-address clear_both">
                                    <span class="pull-left">{{ item.m_address_province }}</span>
                                    <span class="pull-left">{{ item.m_address_city }}</span>
                                    <span class="pull-left">{{ item.m_address_belong }}</span>
                                    <span class="pull-right">{{ item.create_time }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    {% include "home/page.html" %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box ready-login-box">
                {% if request.userInfo != None %}
                    <p>
                        <strong>{% autoescape off %}{{ request.userInfo.nickname }}{% endautoescape %}</strong>
                        <font color="#444">您好，欢迎登录！</font>
                        <a href="/logout/">退出</a>
                    </p>
                {% elif request.userInfo == None %}
                    <p class="ready-login-btn"><a href="/register">注册会员</a>|<a href="/login">会员登录</a></p>
                {% endif %}

                <a class="btn btn-green btn-create" type="button" href="/publish">免费发布信息</a>
            </div>
            <div class="card-box">
                {% include "home/chandi.html" %}
            </div>
            <div class="card-box">
                {% include "home/hot.html" %}
            </div>
            <!--<div class="card-box">
                {% include "home/info.html" %}
            </div>-->
        </div>
    </div>
</div>
{% include "home/base_footer.html" %}
