<div class="card-box ready-login-box">
                {% if request.userInfo != None %}
                    <p>
                        {% if request.userInfo.auth == 0 %}
                            <span class="label label-primary">待认证</span>
                        {% elif request.userInfo.auth == 1 %}
                            <span class="label label-warning">认证 V</span>
                        {% elif request.userInfo.auth == 2 %}
                            <span class="label label-danger">未通过认证</span>
                        {% elif request.userInfo.auth == 3 %}
                            <span class="label">未认证</span>
                        {% endif %}
                        <strong>{% autoescape off %}{{ request.userInfo.nickname }}{% endautoescape %}</strong>
                        <font color="#444">您好，欢迎登录！</font>
                        <a href="/logout/">退出</a>
                    </p>
                {% elif request.userInfo == None %}
                    <p class="ready-login-btn"><a href="/register">注册会员</a>|<a href="/login">会员登录</a></p>
                {% endif %}

                <a class="btn btn-green btn-create" type="button" href="/publish">免费发布信息</a>
            </div>