{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>zui-admin</title>
    <script src="https://cdn.bootcss.com/qs/6.8.0/qs.min.js"></script>
    <!-- axios请求处理JS-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- zui css -->
    <link rel="stylesheet" href="{% static '/dist/css/zui.min.css' %}">
    <link rel="stylesheet" href="{% static '/dist/theme/blue.css' %}">
    <!-- app css -->
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <!-- jquery js -->
    <script src="{% static '/dist/lib/jquery/jquery.js' %}"></script>
