{% load static %}
{% include "admin/base_admin_header.html" %}
<link rel="stylesheet" href="{% static '/css/admin/login.css' %}">
<link rel="stylesheet" href="{% static '/css/admin/page.css' %}">
<link rel="stylesheet" href="{% static '/css/admin/common.css' %}">
</head>
<style>

</style>
<body>
<div class="wrapper">
    {% include "admin/base_index_header.html" %}
    {% include "admin/base_index_nav.html" %}
    <div class="content-wrapper">
        <div class="content-header">
            <ul class="breadcrumb">
                <li><a href="#"><i class="icon icon-home"></i></a></li>
                <li class="active">品种管理</li>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-body">
                            {% for item in list %}
                                <div class="tree-item">
                                    <div class="tree-title">
                                        <span class="tree-title-word">{{ item.p_name }}</span>
                                        <button class="btn btn-mini btn-danger" type="button"
                                                            style="float: right;margin-right: 10px;">删除
                                                    </button>
                                        <button class="btn btn-mini btn-primary" type="button"
                                                style="float: right;margin-right: 10px;">修改
                                        </button>
                                    </div>
                                    <div class="tree-body">
                                        {% for i in item.child %}
                                            <div class="tree-item">
                                                <div class="tree-title">
                                                    <span class="tree-title-word">{{ i.m_pz }}</span>
                                                    <button class="btn btn-mini btn-info" type="button"
                                                            style="float: right;margin-right: 10px;">修改
                                                    </button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dumpModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                    class="sr-only">关闭</span></button>
            <h4 class="modal-title" id="modal-title"></h4>
        </div>
        <div class="modal-content">
            <p style="padding: 0 20px;line-height: 28px">
            <form class="form-f">
                <input type="hidden" name="id">
                <input type="hidden" name="type">
                <div style="padding: 0 15px">
                    <select class="form-control" id="exampleInputAddress1" name="auth">
                        <option value="1">正常</option>
                        <option value="2">封禁</option>
                    </select>
                </div>
            </form>
            <form class="form-u">
                <div class="form-group clear_both">
                    <input type="hidden" name="id">
                    <input type="hidden" name="type">
                    <label for="exampleInputPassword4" class="col-sm-3"
                           style="line-height: 32px;margin-bottom: 0">修改密码</label>
                    <div class="col-md-9 col-sm-9" data-toggle="popover">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="输入新密码"
                                   name="password" autocomplete="off">
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-d">
                <input type="hidden" name="id">
                <input type="hidden" name="type">
                <div>
                    <h4 style="padding: 20px 15px">确认要删除此账号？（删除后,其发布的文章也会被删除！）</h4>
                </div>
            </form>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消
            </button>
            <button type="button" class="btn btn-green" onclick="formSubmit(this)" id="modal-btn">修改</button>
        </div>
    </div>
</div>
<script type="text/javascript"
        src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
{% include "admin/base_admin_footer.html" %}
<script>
    $(document).ready(function () {
        $(".tree-title").click(function () {
            if ($(this).next().attr('class') != undefined) {
                if ($(this).next().attr('class').indexOf('active') != -1) {
                    this.classList.remove('open')
                    $(this).next().removeClass('active')
                } else {
                    $(this).next().addClass('active')
                    this.classList.add('open')
                }
            }
        })
        $("input[name='username']").val('')
        $("input[name='password']").val('')
        $('[data-toggle="popover"]').popover({
            trigger: 'hover'
        });
        $('#id_captcha_1').attr('placeholder', '请输入右侧的答案').attr('name', 'code').siblings().attr('title', '点击图片切换验证码')
        $('.captcha').click(function () {
            $.getJSON("/refresh_captcha/", function (result) {
                $('img.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['hashkey'])
            });
        });
    });

    let formSubmit = (dom) => {
        fetch_FORM(api.menber, $('form' + window.formClass).serialize()).then(response => {
            let data = response.data
            if (data.status == 200) {
                new $.zui.Messager(data.msg, {
                    type: 'success',
                    placement: 'center'
                }).show();
            } else {
                if (typeof (data.msg) != 'string') {
                    Object.keys(data.msg).map(function (key) {
                        new $.zui.Messager(data.msg[key], {
                            type: 'danger',
                            placement: 'center'
                        }).show();
                    })
                } else {
                    new $.zui.Messager(data.msg, {
                        type: 'danger',
                        placement: 'center'
                    }).show();
                }
            }
        })
    }
    let handleOption = (t, id, o) => {
        $("input[name='id']").val(id)
        $("input[name='type']").val(o)
        $("form.form-f").css('display', 'none')
        $("form.form-u").css('display', 'none')
        $("form.form-d").css('display', 'none')
        window.formClass = '.form-' + o
        $("#modal-btn").removeClass('btn-primary').removeClass('btn-danger')
        if (o == 'f') {
            let tem = '1'
            $("form.form-" + o).css('display', 'block')
            $("#modal-btn").addClass('btn-primary').text('封禁')
        } else if (o == 'u') {
            let tem = '2'
            $("form.form-" + o).css('display', 'block')
            $("#modal-btn").addClass('btn-primary').text('修改')
        } else if (o == 'd') {
            let tem = '3'
            $("form.form-" + o).css('display', 'block')
            $("#modal-btn").addClass('btn-danger').text('删除')
        }
        $("#modal-title").text(t)
        $('#dumpModal').modal({
            moveable: true,
            position: 'center'
        })
    }
</script>
</body>
</html>
