{% load static %}
{% include "admin/base_admin_header.html" %}
<link rel="stylesheet" href="{% static '/css/admin/login.css' %}">
</head>
<style>

</style>
<body>
<div class="wrapper">
    {% include "admin/base_index_header.html" %}
    {% include "admin/base_index_nav.html" %}
    <div class="content-wrapper">
        <div class="content-header">
            <ul class="breadcrumb">
                <li><a href="#"><i class="icon icon-home"></i></a></li>
                <li class="active">系统设置</li>
            </ul>
        </div>
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="exampleInputAccount4" class="col-sm-2">网站标题</label>
                                <div class="col-md-6 col-sm-10" data-toggle="popover" title="提示"
                                           data-content="不能低于4个字的描述">
                                    <input type="text" class="form-control" name="title" id="exampleInputAccount4"
                                           placeholder="网站标题" value="{{ sys.title }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2">网站描述</label>
                                <div class="col-md-6 col-sm-10" data-toggle="popover" title="提示"
                                           data-content="不能低于4个字超过200字的描述">
                                    <input type="text" name="dec" class="form-control" id="exampleInputPassword4"
                                           placeholder="网站描述" value="{{ sys.dec }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2">网站关键词</label>
                                <div class="col-md-6 col-sm-10" data-toggle="popover"
                                           title="提示" data-content="请使用英文逗号“,”号分割关键词">
                                    <input type="text" name="keyword" class="form-control" id="exampleInputPassword4"
                                           placeholder="用英文逗号分割" value="{{ sys.keyword }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2">网站域名</label>
                                <div class="col-md-6 col-sm-10" data-toggle="popover"
                                           title="提示" data-content="请填写系统的上线域名，没有请勿填写">
                                    <input type="text" name="url" class="form-control" id="exampleInputPassword4"
                                           placeholder="如果是本地环境，无需填" value="{{ sys.url }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2">用户上传总图片限制/每天</label>
                                <div class="col-md-6 col-sm-10" data-toggle="popover"
                                           title="提示" data-content="限制用户每天上传图片的总次数">
                                    <input type="text" name="img_limit" class="form-control" id="exampleInputPassword4"
                                           placeholder="填写数字" value="{{ sys.img.limit }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword4" class="col-sm-2">用户发表文章限制/每天</label>
                                <div class="col-md-6 col-sm-10" data-toggle="popover"
                                           title="提示" data-content="限制用户每天可发表的信息量">
                                    <input type="text" name="article_limit" class="form-control"
                                           id="exampleInputPassword4"
                                           placeholder="填写数字" value="{{ sys.article_limit }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-default" onclick="formSubmit(this)">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
{% include "admin/base_admin_footer.html" %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover'
        });
        $('#id_captcha_1').attr('placeholder', '请输入右侧的答案').attr('name', 'code').siblings().attr('title', '点击图片切换验证码')
        $('.captcha').click(function () {
            $.getJSON("/refresh_captcha/", function (result) {
                $('img.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['hashkey'])
            });
        });
    });
    $(document).ready(function () {
        $('form').bootstrapValidator({
            // 默认的提示消息
            message: '请填写该字段',
            // 表单框里右侧的icon
            feedbackIcons: {
                valid: 'icon-radiobutton iconfont iconfont-val',
                invalid: 'icon-roundclosefill iconfont iconfont-val',
                validating: 'icon-icon_task_checkbox_d iconfont iconfont-val'
            },
            submitHandler: function (validator, form, submitButton) {
                // 表单提交成功时会调用此方法
                // validator: 表单验证实例对象
                // form  jq对象  指定表单对象
                // submitButton  jq对象  指定提交按钮的对象
                console.log(form)
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '标题不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 16,
                            message: '账号长度必须在4到16之间'
                        },
                    }
                },
                dec: {
                    validators: {
                        notEmpty: {
                            message: '描述不能为空'
                        },
                        stringLength: {
                            min: 1,
                            max: 200,
                            message: '描述长度必须在1到200之间'
                        },
                    }
                },
                keyword: {
                    validators: {
                        notEmpty: {
                            message: '关键词不能为空'
                        }
                    }
                },
                img_limit: {
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        }
                    }
                },
                article_limit: {
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        }
                    }
                },
            }
        });
    })
    let formSubmit = (dom) => {
        var bootstrapValidator = $("form").data('bootstrapValidator');
        bootstrapValidator.validate();
        if (bootstrapValidator.isValid()) {
            fetch_FORM(api.setting, $('form').serialize()).then(response => {
                let data = response.data
                if (data.status == 200) {
                    new $.zui.Messager(data.msg, {
                        type: 'success',
                        placement: 'center'
                    }).show();
                } else {
                    if (typeof (data.msg) != 'string') {
                        Object.keys(data.msg).map(function (key) {
                            new $.zui.Messager(data.msg[key], {
                                type: 'danger',
                                placement: 'center'
                            }).show();
                        })
                    } else {
                        new $.zui.Messager(data.msg, {
                            type: 'danger',
                            placement: 'center'
                        }).show();
                    }
                }
            })

        } else return;
    }
</script>
</body>
</html>
